/*media query: iPad screens */ 
/* -------------------------------------*/ 
/* Media Queries */
/* IPADS*/
@media screen and (min-width:600px){
    body {
       font-size:1rem; 
    }
    h1{
       font-size:5rem; 
       padding:1rem; 
    }
   
    figcaption {
       font-size:1rem; 
    }
 
    nav {
       display: var(--main-display);
       flex-wrap: wrap;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       gap:1rem; 
    }
 
    .main_nav {
       display: var(--main-display);
       flex-direction: row;
       gap: 4rem;
    }
 
    .form-head {
       font-family: var(--family-font);
       font-size: 4rem;
    }
    .form {
       margin:2rem 2rem; 
       padding: 1rem 1rem; 
       display: var(--main-display);
       flex-direction: var(--display-direction);
       gap:1rem; 
       width: 50vw;
       align-items: stretch;
       
    }
 
    input, textarea {
     
       margin: 1rem 0;
       padding:0.5rem; 
       outline: solid black; 
       width:var(--width); 
       max-width: 100%;  
       box-sizing: border-box;
       
    }
 
    textarea {
      padding-left: 0.5rem !important;
      height:auto; 
     
    }
 
    .form-button {
    
       background-color: lightblue;  
       outline: solid black;
       box-shadow: 0px 4px 8px rgb(0,0,0, 1);
       font-family: var(--family-font);
       font-size: 1rem;
       letter-spacing: 0.5rem;
       font-weight: bold;
       animation: form-fall 4s ease forwards;
       width: var(--width);
       max-width: 100%;
       box-sizing: border-box;
       height:4vh; 
    }
    label {
       color: white; 
       font-size: 1.1rem;
       letter-spacing: 0.5rem ;
       text-shadow: var(--color-shadow); 
    }
 
    /* 
    #name-label {
       animation: form-fall 1s ease forwards;
    }
    #name-input{
       animation: form-fall 1.5s ease forwards;
    }
    #email-label {
       animation: form-fall 2s ease forwards;
    }
    #email-input{
       animation: form-fall 2.5s ease forwards;
    }
    #message{
       animation: form-fall 3s ease forwards;
    }
    #msg-input {
       animation: form-fall 3.5s ease forwards;
    } */ 
 
    .input-err {
       border: 2px solid red;
      
    }
    
    #error-msg, #info-msg {
       margin: 0, 0, 3rem, 0; 
       padding-bottom:2rem; 
       white-space: normal;
       overflow-wrap:break-word;
       max-width: 100%;
       width: auto; 
       box-sizing: border-box;
       text-shadow: 0px 4px 6px darkred;
       font-weight: bold;
       font-size: 1.2rem;
    }
 
    /*Code below is for theme button*/
    .theme-switch {
       
       
       display: flex;
       gap: 4rem; 
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin: 0 auto;
    }
    .theme-switch-button {
       background: none;
       border: hidden;
       flex-direction: row;
       display: flex;
       align-items: center;
       margin:0;
       padding: 0;
      
       
    }
    .theme-switch-button img {
       width: 2.1rem;
       height:2.1rem;
       image-rendering: pixelated;
    }
 }
 