/* themes.css */

/* Fall theme */
.city-theme {

    background-image: url(../assets/backgorunds/Untitled\ Project.jpg);
    font-family: 'Marker Felt', fantasy;
    color: cyan; 
}

.city-theme hgroup h1{
    
    font-family: Impact, fantasy;
}

/* 
.winter-theme {

    background-image: url(../assets/backgorunds/winter-theme.webp);
    font-family: 'American Typewriter', serif;
    color: black; 

} */ 

.winter-theme hgroup h1 {
    font-family: 'Times New Roman', Times, serif;
}


.dark-theme {
    background-image: url(../assets/backgorunds/blurred_night_mode.webp);
    color:var(--secondary-color);
    font-family: Apple Chancery, cursive; 
}

.dark-theme hgroup h1 {
    font-family: Bradley Hand, cursive ;
}

.day-theme { /*This was the primary theme */ 

    background-image: url(../assets/backgorunds/bg_final_compress.webp);
    color:var(--text-color);
}
