/* themes.css */

/* Fall theme */
.city-theme {

    font-family: 'Marker Felt', fantasy;
    color: cyan; 



}

.winter-theme {


    font-family: 'American Typewriter', serif;
    color: darkred; 

}