/* root elements here*/
:root {
   --main-font:monospace; 
   --layout:flex; 
   --main-color:black; 
   --main-display:flex; 
   --display-direction:column; 
   --main-margin:0; 
   --main-padding:0; 
   --main-height:100vh;
   --text-color:white;
   --box-size:border-box; 
   --height: 100%; 
   --font-size: 16px; 
}

body {
    
   /* using css variables */ 
   display:var(--main-display); 
   flex-direction: var(--display-direction);
   font-family: var(--main-font);
   margin:var(--main-margin);
   padding:var(--main-padding);
   min-height:var(--main-height);
   color:var(--text-color);
   box-sizing: var(--box-size);
   
   background-image: url(media/css_bg/bg_final_compress.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   align-items: center;
    
 }

 header, footer {

   padding: 1rem;
   text-align: center; 

 }

 /* editing class fighter images */ 
.fighter-img {
   width: 150px;
   height: 150px; 
   object-fit: cover;
}
 /* relative units */ 
html, body {
   font-size: 16px; 
   height: 100%; 
   margin: 0; 
   padding:0; 
}

/* scoped css example: check line 81 in index.html */ 
.main-bio h3 {
   color: rgb(22, 101, 16); 
}

/* scoped css example - check line 36 in art.html */ 
.art h3 {
   font-size: xx-large;
}


nav { 

   display: flex;
   justify-content: center;

   -align-items: center;
   -font-family: monospace; 
   -font-size: 20px;
   gap: 4rem;
   -margin-top: 1rem;
}

nav a {
   
   outline: 1.5px solid white; 
   outline-offset: 6px;
   
   /* adds a nice hover effect */
   transition:transform 0.1s ease; 
}
nav a:hover {
   
   outline: 2px solid whitesmoke;
   outline-offset: 2px;
   transform:translateY(-6px);
}

nav a:hover:active {
   transform:translateY(6px);
}

nav a:focus {
   outline: 2px solid #4A90E2; 
   transform:translateY(-6px); 
}
h1 {
    font-family:monospace;
    font-size :5em;
}

footer {
   -margin: 1.5rem;
   padding: 1.5rem;
   background: #222; 
   color: whitesmoke; 
 }
