/* root elements here*/
:root {
   --family-font: "Share Tech Mono", monospace; 
   --signature-font:"Brush Script MT", cursive; 
   --layout:flex; 
   --main-display:flex; 
   --display-direction:column; 
   --main-height:100dvh;
   --text-color:white;
   --main-margin:0; 
   --main-padding:0; 
   --box-size: border-box; 
   --height: 100%;
   --width:100%;  
   --font-size: 16px; 
   --text-align:center; 
}
/* Media Queries */
@media screen and (min-width:600px){
   body {
      font-size:18px; 
   }
   h1{
      font-size:1rem; 
      padding:1rem; 
   }
   nav {
      flex-direction: column;
      align-items: center;
      gap:2rem; 
   }
   figcaption {
      font-size:1rem; 
   }
}
@media screen and (min-width:900px) {
   body {
      font-size:20px; 
   }
   
}

html{
   font-size:var(--font-size); 
   margin: var(--main-margin);  
   padding:var(--main-padding); 
   text-align:var(--text-align); 
   width:var(--width); 
}


hr {
   width: 70vw;
   opacity: 50%;
   
}

header {
   display: var(--main-display);
   width:var(--width); 
   flex-direction: var(--display-direction); 
   -overflow-x: hidden;
}
body {
    
   /* using css variables */ 
   display:var(--main-display); 
   flex-direction: var(--display-direction);
   font-family: var(--family-font);
   margin:var(--main-margin);
   padding:var(--main-padding);
   min-height:var(--main-height);
   color:var(--text-color);
   box-sizing: var(--box-size);
   
   background-image: url(media/css_bg/bg_final_compress.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   align-items: center;
    
 }
 
 aside {
   text-align:left; 
   opacity: 50%; 
   align-self: flex-start;
   width:100%; 
   
 }

 h1 {
   padding: 2rem; 
   font-size :5rem;
   text-shadow: 2px 2px 0 black; 
}

details {
   
   padding: 4rem; 
   font-size: 1.5rem;
   text-shadow: 1px 1px 0 black; 
}

details summary:hover{
   transition:transform 0.2 ease;  
   transform: translateY(-4px);
}
 details[open] p {
   margin-top: 5rem;
 }

 /* editing class fighter images */ 
.fighter-img {
   width: 9rem;
   height:9rem; 
   max-width:150px ;
   max-height: 150px; 
   object-fit: cover;
}

figcaption {
   
   color: white; 
   padding-top: 1rem;
   text-shadow: 0.7px 0.7px 0 black; 
   font-size: 1.2rem;
} 

nav { 
   flex-wrap: wrap;
   display: flex;
   justify-content: center;
   gap: 6rem;
   transition:transform 0.2s ease; 
 
}

nav a {
   outline: 1.5px solid white; 
   outline-offset: 6px;
   text-decoration: none;
 
}

nav figure:hover, nav figure:focus-within {
   
   transform:translateY(-8px);
}

nav figure:hover:active {
   transform:translateY(6px);
}



footer {
   color:var(--text-color); 
   margin-top: 2rem;
   margin-bottom: 4rem;
  
 }

footer >p{
   text-decoration: underline;
}